#about {
    background-color: #C0C0C0;

 

    .first {
        background-color: #FFFFFF;

    }

    .second {
        background-color: rgba(61, 100, 133, 1);
        line-height: 4em;
        
        
        .b1 {
          background-color: rgba(61, 58, 133, 1); ;
        }
        .b2 {
          background-color: rgba(61, 58, 133, 1);

        }

       

       
        
    }
    .third {
      background-color: rgba(61, 100, 133, 1);
       line-height: 4em;
      
      .b3 {
        background-color: rgba(61, 68, 133, 1);
      }
    }
}
