#about {
    background-color: #C0C0C0;
    background-size: cover;
    margin-top: -40px;
    .first {
        background-color: #FFFFFF;
        .video {
            background-size: cover;
            background-image: url("../images/read.jpg");
            color: #FFFFFF;
            padding-top: 150px;


        }
    }
    .second { 
         background-color: #FFFFFF;
        .rm-button {
            background-color: rgba(61, 100, 133, 1);
            margin-top: 30px;
            border-bottom: 10px;
            border-right: 10px;
            border-left: 10px;
            border-top: 10px;
        }
        .sm-button {
            background-color: #F7B432;
            margin-top: 30px;
            border-bottom: 10px;
            border-right: 10px;
            border-left: 10px;
            border-top: 10px;
        }
    }
    .third {
        background-color: #456188;
        //line-height: 4em;
        color: #B7C4D8;
        .b1 {
            background-color: #3B547C;
            ;
        }
        .b3 {
            background-color: #263957;
        }
    }
    .fourth {
        background-color: rgba(61, 100, 133, 1);
        //line-height: 4em;
        color: #B8CEE7;
        .c1 {
            background-color: #516E96;
        }
        .c2 {
            background-color: #4770AE;
        }
        .c3 {
            background-color: #3B547C;
        }
    }
}
