#info {
    background-color: #4a626b;
    //height:25em;
    .first {
        margin-top: 35px;
        h4 {
            color: orange;
        }
    }
    .last {
        font-size: 20px;
        .key {
            //background-color: orange;
            text-align: center;
            background-color: #456A7B;
           
           .con{
            background-color:orange;
           }
        }
    }
}
