#info {
    background-color: #4a626b;
    //height:25em;
    .last {
        background-color: transparent;
    }
    .contact {
        background-color: #456A7B;
        padding-bottom: 1em;
        text-align: center;
        font-size: 20px;

        .glyphicon {
          background-color: orange;
        }
    }
}
